@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i|Cousine:400,400i,700,700i|Tinos:400,400i,700,700i');

$font-copy: "Tinos";
$font-code: "Cousine";
$font-head: "Arimo";

$base-size: 12px;
$line-height: 1.55;

$primary: rgb(108, 168, 110);
$secondary: rgb(99, 131, 186);
$tertiary: rgb(185, 181, 173);

$h1-size: 130%;
$h2-size: 115%;
$h3-size: 110%;

$i-margin: 15mm;
$o-margin: 70mm;
$b-margin: 18mm;
$t-margin: 12mm;
