@import 'config';

@media print {

  @import 'page';
  @import 'layout';
  @import 'floats';
  @import 'article';
  @import 'header';

  .abstract {
    margin-left: -35%;
    background-color: lighten($tertiary, 25%);
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 35%;
    padding-right: 25%;
    margin-bottom: 2em;
    line-height: $line-height;
  }

}
